# Imports

## Packages

In [1]:
import pandas as pd
import datetime
import time
import warnings
import math
import statistics
import numpy as np
import scipy.stats
import openpyxl
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from pyspark.sql import SparkSession
import pymongo 
from pymongo import MongoClient
import dns
from pprint import pprint
from googleapiclient import discovery
from googleapiclient import errors
from df2gspread import df2gspread as d2g
from pathlib import Path
warnings.filterwarnings('ignore')

## API data from Sheets

In [2]:
# define the scope
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
# add credentials to the account
creds = ServiceAccountCredentials.from_json_keyfile_name('Google_API_OAUTH.json', scope)
# authorize the clientsheet 
client = gspread.authorize(creds)

In [3]:
# get the instance of the Spreadsheet
sheet = client.open('Sleep Data')
# get the first sheet of the Spreadsheet
sheet_instance = sheet.get_worksheet(0)
# get all the records of the data
api_data = sheet_instance.get_all_records()
# convert the json to dataframe
api = pd.DataFrame.from_dict(api_data)

## Sensor data from MongoDB

In [7]:
# Replace the uri string with your MongoDB deployment's connection string.
conn_str = "mongodb+srv://importdata:alexandre@iot.abtve.mongodb.net/Withings_Sleep_Data?retryWrites=true&w=majority"
# set a 5-second connection timeout, serverSelectionTimeoutMS=5000
client = pymongo.MongoClient(conn_str) 

try:
    print('Available databases:')
    print(client.list_database_names())
except Exception:
    print("Unable to connect to the server.")

Available databases:
['IoT', 'admin', 'local']

In [125]:
db = client.get_database('IoT')

In [126]:
records = db.Withings_Sleep_Data

In [127]:
list(records.find())[0]['sensors']
data = list(records.find())

In [128]:
lst = []
for i in range(len(data)):
    lst.append([data[i]['_id'], data[i]['sensors']['humidity'],
               data[i]['sensors']['temperature'], data[i]['sensors']['light'],
               data[i]['ts']] )

In [129]:
# Create the pandas DataFrame
sensor = pd.DataFrame(lst, columns = ['_id', 'sensors.humidity', 'sensors.temperature', 'sensors.light', 'ts'])

sensor.head()

,_id,sensors.humidity,sensors.temperature,sensors.light,ts
0,619007b5a4c07eea3a262a7b,62.2,20.0,1256,2021-11-13 18:45:09.004
1,61900cc81d8f09b84c530ac7,62.6,20.0,1755,2021-11-13 19:06:48.147
2,61900f21118a094f4cc36b14,64.7,19.8,1747,2021-11-13 19:16:49.476
3,6190117a118a094f4cc54655,65.4,19.5,1736,2021-11-13 19:26:50.661
4,619013d3a4c07eea3a2f9bee,65.1,19.4,1738,2021-11-13 19:36:51.835

## Scraping data

In [130]:
#run scraping script to update data
# %run -i 'Scraping/scraping_script.py'

In [131]:
# local imports
root = Path('/Users','alexandreberkovic','Desktop', 'Year_4','SIoT','IoT')
scraping = pd.read_csv(root / 'Scraping/Scraping_data.csv')

# Cleaning

## Scraping

In [132]:
# inital dataframe
scraping.head()

   Unnamed: 0             Date Pattern          Time
0           0  4 December 2021   Awake   02:51-03:14
1           1  4 December 2021    Deep   03:14-04:28
2           2  4 December 2021     REM   04:28-04:40
3           3  4 December 2021   Light   04:40-05:27
4           4  4 December 2021    Deep   05:27-05:39

In [133]:
# remove useless sscolumn
scraping = scraping.drop('Unnamed: 0', 1)

In [134]:
# split period start and end time into two columns
scraping[['Start', 'End']] = scraping['Time'].str.split('-', expand=True)

In [135]:
# drop the time column
scraping = scraping.drop('Time', 1)

In [136]:
# full date/time to use as timeseries after
scraping['Start'] = scraping['Date'] + scraping['Start']
scraping['End'] = scraping['Date'] + ' ' + scraping['End']

In [137]:
# drop useless column
scraping = scraping.drop('Date',1)

In [138]:
# formating the date and time as datetime for use as time series
scraping['Start'] = pd.to_datetime(scraping['Start'], format = '%d %B %Y %H:%M')
scraping['End'] = pd.to_datetime(scraping['End'], format = '%d %B %Y %H:%M')

In [139]:
# verifying type
type(scraping['Start'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [175]:
# add date column
scraping['Date'] = pd.to_datetime(scraping['End']).dt.to_period('D')

In [176]:
scraping.head()

  Pattern               Start                 End        Date
0   Awake 2021-12-04 02:51:00 2021-12-04 03:14:00  2021-12-04
1    Deep 2021-12-04 03:14:00 2021-12-04 04:28:00  2021-12-04
2     REM 2021-12-04 04:28:00 2021-12-04 04:40:00  2021-12-04
3   Light 2021-12-04 04:40:00 2021-12-04 05:27:00  2021-12-04
4    Deep 2021-12-04 05:27:00 2021-12-04 05:39:00  2021-12-04

## API

In [141]:
api.head()

,Duration,Device,In,Mac,Out,Light Sleep,Deep Sleep,REM Sleep,Score,Snoring duration,Snoring episodes,BPM,Awake,Status,Regularity,Recovery,Interruptions,TTS
0,SleepDuration: 07:16:00,DeviceUser: Sleep Analyzer de Alexandre,"InBedDateandTime: November 11, 2021 at 12:30AM",DeviceMac: 00:24:e4:c0:ed:cc,"OutofBedDateandTime: November 11, 2021 at 08:21AM",LightSleepDuration: 04:18:00,DeepSleepDuration: 02:14:00,RemSleepDuration: 00:44:00,SleepScore: 85,SnoringDuration: 0,SnoringEpisodesCount: 0,HeartRateAverage: 57,AwakeDuration: 00:28:00,StatusSleepScore: Nuit reposante,StatusRegularity: Bonne,StatusRecovery: Moyenne,NbInterruptions: 5,TimeToSleep: 00:11:00
1,SleepDuration: 06:16:00,DeviceUser: Sleep Analyzer de Alexandre,"InBedDateandTime: November 12, 2021 at 12:54AM",DeviceMac: 00:24:e4:c0:ed:cc,"OutofBedDateandTime: November 12, 2021 at 07:53AM",LightSleepDuration: 03:05:00,DeepSleepDuration: 02:03:00,RemSleepDuration: 01:08:00,SleepScore: 72,SnoringDuration: 0,SnoringEpisodesCount: 0,HeartRateAverage: 56,AwakeDuration: 00:43:00,StatusSleepScore: Nuit moyenne,StatusRegularity: Bonne,StatusRecovery: Bonne,NbInterruptions: 1,TimeToSleep: 00:13:00
2,SleepDuration: 07:11:00,DeviceUser: Sleep Analyzer de Alexandre,"InBedDateandTime: November 13, 2021 at 12:10AM",DeviceMac: 00:24:e4:c0:ed:cc,"OutofBedDateandTime: November 13, 2021 at 08:25AM",LightSleepDuration: 03:31:00,DeepSleepDuration: 02:35:00,RemSleepDuration: 01:05:00,SleepScore: 86,SnoringDuration: 0,SnoringEpisodesCount: 0,HeartRateAverage: 59,AwakeDuration: 00:57:00,StatusSleepScore: Nuit reposante,StatusRegularity: Bonne,StatusRecovery: Bonne,NbInterruptions: 4,TimeToSleep: 00:41:00
3,SleepDuration: 06:39:00,DeviceUser: Sleep Analyzer de Alexandre,"InBedDateandTime: November 14, 2021 at 12:14AM",DeviceMac: 00:24:e4:c0:ed:cc,"OutofBedDateandTime: November 14, 2021 at 07:50AM",LightSleepDuration: 03:18:00,DeepSleepDuration: 02:03:00,RemSleepDuration: 01:18:00,SleepScore: 80,SnoringDuration: 0,SnoringEpisodesCount: 0,HeartRateAverage: 53,AwakeDuration: 00:55:00,StatusSleepScore: Nuit reposante,StatusRegularity: Bonne,StatusRecovery: Bonne,NbInterruptions: 2,TimeToSleep: 00:48:00
4,SleepDuration: 06:52:00,DeviceUser: Sleep Analyzer de Alexandre,"InBedDateandTime: November 14, 2021 at 11:38PM",DeviceMac: 00:24:e4:c0:ed:cc,"OutofBedDateandTime: November 15, 2021 at 08:04AM",LightSleepDuration: 03:44:00,DeepSleepDuration: 02:00:00,RemSleepDuration: 01:08:00,SleepScore: 77,SnoringDuration: 0,SnoringEpisodesCount: 0,HeartRateAverage: 58,AwakeDuration: 01:34:00,StatusSleepScore: Nuit reposante,StatusRegularity: Bonne,StatusRecovery: Bonne,NbInterruptions: 3,TimeToSleep: 00:52:00

In [142]:
# drop useless columns
api = api.drop(['Device ','Mac','Snoring duration','Snoring episodes','Status','Regularity','Recovery'], 1)

In [143]:
api.head()

,Duration,In,Out,Light Sleep,Deep Sleep,REM Sleep,Score,BPM,Awake,Interruptions,TTS
0,SleepDuration: 07:16:00,"InBedDateandTime: November 11, 2021 at 12:30AM","OutofBedDateandTime: November 11, 2021 at 08:21AM",LightSleepDuration: 04:18:00,DeepSleepDuration: 02:14:00,RemSleepDuration: 00:44:00,SleepScore: 85,HeartRateAverage: 57,AwakeDuration: 00:28:00,NbInterruptions: 5,TimeToSleep: 00:11:00
1,SleepDuration: 06:16:00,"InBedDateandTime: November 12, 2021 at 12:54AM","OutofBedDateandTime: November 12, 2021 at 07:53AM",LightSleepDuration: 03:05:00,DeepSleepDuration: 02:03:00,RemSleepDuration: 01:08:00,SleepScore: 72,HeartRateAverage: 56,AwakeDuration: 00:43:00,NbInterruptions: 1,TimeToSleep: 00:13:00
2,SleepDuration: 07:11:00,"InBedDateandTime: November 13, 2021 at 12:10AM","OutofBedDateandTime: November 13, 2021 at 08:25AM",LightSleepDuration: 03:31:00,DeepSleepDuration: 02:35:00,RemSleepDuration: 01:05:00,SleepScore: 86,HeartRateAverage: 59,AwakeDuration: 00:57:00,NbInterruptions: 4,TimeToSleep: 00:41:00
3,SleepDuration: 06:39:00,"InBedDateandTime: November 14, 2021 at 12:14AM","OutofBedDateandTime: November 14, 2021 at 07:50AM",LightSleepDuration: 03:18:00,DeepSleepDuration: 02:03:00,RemSleepDuration: 01:18:00,SleepScore: 80,HeartRateAverage: 53,AwakeDuration: 00:55:00,NbInterruptions: 2,TimeToSleep: 00:48:00
4,SleepDuration: 06:52:00,"InBedDateandTime: November 14, 2021 at 11:38PM","OutofBedDateandTime: November 15, 2021 at 08:04AM",LightSleepDuration: 03:44:00,DeepSleepDuration: 02:00:00,RemSleepDuration: 01:08:00,SleepScore: 77,HeartRateAverage: 58,AwakeDuration: 01:34:00,NbInterruptions: 3,TimeToSleep: 00:52:00

In [144]:
# remove unwanted text
for i in range(len(api)):
    api['Duration'][i] = api['Duration'][i].split('SleepDuration:')[-1]
    api['In'][i] = api['In'][i].split('InBedDateandTime:')[-1]
    api['Out'][i] = api['Out'][i].split('OutofBedDateandTime:')[-1]
    api['Light Sleep'][i] = api['Light Sleep'][i].split('LightSleepDuration:')[-1]
    api['Deep Sleep'][i] = api['Deep Sleep'][i].split('DeepSleepDuration:')[-1]
    api['REM Sleep'][i] = api['REM Sleep'][i].split('RemSleepDuration:')[-1]
    api['Score'][i] = api['Score'][i].split('SleepScore:')[-1]
    api['BPM'][i] = api['BPM'][i].split('HeartRateAverage:')[-1]
    api['Awake'][i] = api['Awake'][i].split('AwakeDuration:')[-1]
    api['Interruptions'][i] = api['Interruptions'][i].split('NbInterruptions:')[-1]
    api['TTS'][i] = api['TTS'][i].split('TimeToSleep:')[-1]

In [145]:
# remove leading or trailing whitespaces
for col in api.columns:
    api[col] = api[col].str.strip()

In [146]:
# format datetime
api['In'] = pd.to_datetime(api['In'], format = '%B %d, %Y at %I:%M%p')
api['Out'] = pd.to_datetime(api['Out'], format = '%B %d, %Y at %I:%M%p')

In [147]:
#make durations as integers (minutes)
ts = ['Duration','Light Sleep', 'Deep Sleep', 'REM Sleep', 'Awake', 'TTS']

for col in ts:
    for i in range(len(api)):
        hour = int(api[col][i].split(':')[0])
        minute = int(api[col][i].split(':')[1])
        api[col][i] = hour*60 + minute

In [148]:
# make sur int columns are good type
api[["Score", "BPM", "Interruptions"]] = api[["Score", "BPM", "Interruptions"]].apply(pd.to_numeric)

In [149]:
api['Date'] = pd.to_datetime(api['Out']).dt.to_period('D')

In [150]:
api.head()

,Duration,In,Out,Light Sleep,Deep Sleep,REM Sleep,Score,BPM,Awake,Interruptions,TTS,Date
0,436,2021-11-11 00:30:00,2021-11-11 08:21:00,258,134,44,85,57,28,5,11,2021-11-11
1,376,2021-11-12 00:54:00,2021-11-12 07:53:00,185,123,68,72,56,43,1,13,2021-11-12
2,431,2021-11-13 00:10:00,2021-11-13 08:25:00,211,155,65,86,59,57,4,41,2021-11-13
3,399,2021-11-14 00:14:00,2021-11-14 07:50:00,198,123,78,80,53,55,2,48,2021-11-14
4,412,2021-11-14 23:38:00,2021-11-15 08:04:00,224,120,68,77,58,94,3,52,2021-11-15

## Sensor

In [151]:
sensor.head()

,_id,sensors.humidity,sensors.temperature,sensors.light,ts
0,619007b5a4c07eea3a262a7b,62.2,20.0,1256,2021-11-13 18:45:09.004
1,61900cc81d8f09b84c530ac7,62.6,20.0,1755,2021-11-13 19:06:48.147
2,61900f21118a094f4cc36b14,64.7,19.8,1747,2021-11-13 19:16:49.476
3,6190117a118a094f4cc54655,65.4,19.5,1736,2021-11-13 19:26:50.661
4,619013d3a4c07eea3a2f9bee,65.1,19.4,1738,2021-11-13 19:36:51.835

In [152]:
# drop useless column
sensor = sensor.drop('_id', 1)

In [153]:
# rename other columns
sensor = sensor.rename({'sensors.humidity': 'Humidity', 'sensors.light': 'Light', 'sensors.temperature' : 'Temperature', 'ts' : 'Time stamp'}, axis=1)

In [173]:
# add date column
sensor['Date'] = pd.to_datetime(sensor['Time stamp']).dt.to_period('D')

In [174]:
sensor.head()

   Humidity  Temperature  Light              Time stamp        Date
0      62.2         20.0   1256 2021-11-13 18:45:09.004  2021-11-13
1      62.6         20.0   1755 2021-11-13 19:06:48.147  2021-11-13
2      64.7         19.8   1747 2021-11-13 19:16:49.476  2021-11-13
3      65.4         19.5   1736 2021-11-13 19:26:50.661  2021-11-13
4      65.1         19.4   1738 2021-11-13 19:36:51.835  2021-11-13

## All datasets

In [177]:
scraping.head()

  Pattern               Start                 End        Date
0   Awake 2021-12-04 02:51:00 2021-12-04 03:14:00  2021-12-04
1    Deep 2021-12-04 03:14:00 2021-12-04 04:28:00  2021-12-04
2     REM 2021-12-04 04:28:00 2021-12-04 04:40:00  2021-12-04
3   Light 2021-12-04 04:40:00 2021-12-04 05:27:00  2021-12-04
4    Deep 2021-12-04 05:27:00 2021-12-04 05:39:00  2021-12-04

In [178]:
api.head()

,Duration,In,Out,Light Sleep,Deep Sleep,REM Sleep,Score,BPM,Awake,Interruptions,TTS,Date
0,436,2021-11-11 00:30:00,2021-11-11 08:21:00,258,134,44,85,57,28,5,11,2021-11-11
1,376,2021-11-12 00:54:00,2021-11-12 07:53:00,185,123,68,72,56,43,1,13,2021-11-12
2,431,2021-11-13 00:10:00,2021-11-13 08:25:00,211,155,65,86,59,57,4,41,2021-11-13
3,399,2021-11-14 00:14:00,2021-11-14 07:50:00,198,123,78,80,53,55,2,48,2021-11-14
4,412,2021-11-14 23:38:00,2021-11-15 08:04:00,224,120,68,77,58,94,3,52,2021-11-15

In [179]:
sensor.head()

   Humidity  Temperature  Light              Time stamp        Date
0      62.2         20.0   1256 2021-11-13 18:45:09.004  2021-11-13
1      62.6         20.0   1755 2021-11-13 19:06:48.147  2021-11-13
2      64.7         19.8   1747 2021-11-13 19:16:49.476  2021-11-13
3      65.4         19.5   1736 2021-11-13 19:26:50.661  2021-11-13
4      65.1         19.4   1738 2021-11-13 19:36:51.835  2021-11-13

# Analysis

1. need to delete sensor data not in the sleeping time frame
2. need to average out light, humidity and temperature
3. time series visualisation
4. simple correlations
5. create model to determine best sleeping criteria based on deep sleep and also score (one specific and one average out)

## Restrict sensor data

In [230]:
sensor_new = pd.DataFrame(columns = ['Humidity','Light','Temperature','Time stamp'])
humidity = pd.DataFrame(columns = ['Out','Mean', 'Median', 'Std', 'Variance', 'Min', 'Max', 'Range'])
temperature = pd.DataFrame(columns = ['Out','Mean', 'Median', 'Std', 'Variance', 'Min', 'Max', 'Range'])
light = pd.DataFrame(columns = ['Out','Mean', 'Median', 'Std', 'Variance', 'Min', 'Max', 'Range'])

In [231]:
for i in range(len(api)):
    for j in range(len(sensor)):
        if api['In'][i] <= sensor['Time stamp'][j] <= api['Out'][i]:
            sensor_new = sensor_new.append(sensor.loc[[j]])
        else:
            pass

In [232]:
# well the light goes directly to 0 at night ... logical but i guess that's what happens
sensor_new = sensor_new.reset_index()
sensor_new = sensor_new.drop('index',1)
sensor_new.head()

   Humidity Light  Temperature              Time stamp        Date
0      63.6   310         19.4 2021-11-14 00:17:29.821  2021-11-14
1      63.0     0         19.4 2021-11-14 00:27:31.418  2021-11-14
2      64.0     0         19.4 2021-11-14 00:37:32.698  2021-11-14
3      64.5     0         19.2 2021-11-14 00:47:34.225  2021-11-14
4      64.4     0         19.3 2021-11-14 00:57:35.724  2021-11-14

In [233]:
hum_lst = []
temp_lst = []
light_lst = []

In [234]:
for i in range(len(api)):
    hum_lst = []
    temp_lst = []
    light_lst = []
    for j in range(len(sensor_new)):
        if api['In'][i] <= sensor_new['Time stamp'][j] <= api['Out'][i]:
            hum_lst.append(sensor_new['Humidity'][j])
            temp_lst.append(sensor_new['Temperature'][j])
            light_lst.append(sensor_new['Light'][j])
        else:
            pass
    if len(hum_lst) != 0:
            
        hum_metrics = [api['Out'][i],statistics.mean(hum_lst),statistics.median(hum_lst),statistics.stdev(hum_lst),
                       statistics.variance(hum_lst),min(hum_lst),max(hum_lst),max(hum_lst)-min(hum_lst)]
        temp_metrics = [api['Out'][i],statistics.mean(temp_lst),statistics.median(temp_lst),statistics.stdev(temp_lst),
                       statistics.variance(temp_lst),min(temp_lst),max(temp_lst),max(temp_lst)-min(temp_lst)]
        light_metrics = [api['Out'][i],statistics.mean(light_lst),statistics.median(light_lst),statistics.stdev(light_lst),
                       statistics.variance(light_lst),min(light_lst),max(light_lst),max(light_lst)-min(light_lst)]
    
        hum_length = len(humidity)
        temp_length = len(temperature)
        light_length = len(light)
        
        humidity.loc[hum_length] = hum_metrics
        temperature.loc[temp_length] = temp_metrics
        light.loc[light_length] = light_metrics

In [235]:
humidity['Date'] = pd.to_datetime(humidity['Out']).dt.to_period('D')
temperature['Date'] = pd.to_datetime(temperature['Out']).dt.to_period('D')
light['Date'] = pd.to_datetime(light['Out']).dt.to_period('D')

In [236]:
humidity = humidity.drop('Out',1)
temperature = temperature.drop('Out',1)
light = light.drop('Out',1)

In [237]:
humidity.head()

        Mean  Median       Std  Variance   Min   Max  Range        Date
0  66.602174   66.10  1.788667  3.199329  63.0  69.7    6.7  2021-11-14
1  74.137255   74.30  2.078072  4.318384  69.7  77.2    7.5  2021-11-15
2  67.547368   68.10  1.805657  3.260398  63.8  69.3    5.5  2021-11-16
3  67.032000   67.35  1.702272  2.897731  62.8  69.6    6.8  2021-11-17
4  69.626667   69.70  1.120884  1.256381  67.8  71.6    3.8  2021-11-18

# Exports

In [ ]:
sensor.to_csv(root / 'Output data/CSV/sensor.csv',index=False)
sensor_new.to_csv(root / 'Output data/CSV/sensor_lim.csv',index=False)
api.to_csv(root / 'Output data/CSV/api.csv',index=False)
scraping.to_csv(root / 'Output data/CSV/scraping.csv',index=False)
light.to_csv(root / 'Output data/CSV/light.csv',index=False)
temperature.to_csv(root / 'Output data/CSV/temperature.csv',index=False)
humidity.to_csv(root / 'Output data/CSV/humidity.csv',index=False)

In [271]:
sensor.to_excel(root / 'Output data/Excel/sensor.xlsx',index=False)
sensor_new.to_excel(root / 'Output data/Excel/sensor_lim.xlsx',index=False)
api.to_excel(root / 'Output data/Excel/api.xlsx',index=False)
scraping.to_excel(root / 'Output data/Excel/scraping.xlsx',index=False)
light.to_excel(root / 'Output data/Excel/light.xlsx',index=False)
temperature.to_excel(root / 'Output data/Excel/temperature.xlsx',index=False)
humidity.to_excel(root / 'Output data/Excel/humidity.xlsx',index=False)

In [249]:
def df_to_sheets(spreadsheet_id,sheet_id,df):
    rangeAll = '{0}!A1:Z'.format('Sheet1')
    body = {}
    sheet = service.spreadsheets()
    resultClear = sheet.values().clear(spreadsheetId=spreadsheet_id,range=rangeAll,body=body).execute()
    d2g.upload(df, spreadsheet_id, credentials=creds, row_names=True)
    sh = client.open_by_key(spreadsheet_id)
    request = {
        "requests": [
            {
                "deleteDimension": {
                    "range": {
                        "sheetId": sheet_id,
                        "dimension": "COLUMNS",
                        "startIndex": 0,
                        "endIndex": 1
                    }
                }
            }
        ]
    }
    result = sh.batch_update(request)

In [265]:
# id is formatted as [spreadsheet_id,sheet_id]
sensor_id = ['10kzvn3N_r0JCOg5YOiq3-g8YGNCsyFhxTMzaTgjumqo','293125075']
sensor_lim_id = ['1e8ppR7ydPUEt4yeAODlisB4vkK5eqRNw4vEy2WH14T8','5009018']
light_id = ['11y8zF8dhQA01','1627881621']
humidity_id = ['112RK_2LYe','1333840194']
temperature_id = ['15yfjXf8N9sY3pg2q7cC','1580061427']
api_id = ['1biW_5JQxfRlV191VVvAigGe','467514419']
scraping_id = ['1cL2Xb43sGiwG_qxdD_XH','1024484030']

In [266]:
ids = [sensor_id, sensor_lim_id, light_id, humidity_id, temperature_id, api_id, scraping_id]
dfs = [sensor,sensor_new,light,humidity,temperature,api,scraping]

In [267]:
df_to_sheets(sensor_id[0],sensor_id[1],sensor)

In [270]:
type(sensor['Humidity'][0])

numpy.float64

In [253]:
for i in range(len(ids)):
    df_to_sheets(ids[i][0],ids[i][1],dfs[i])

HttpError: <HttpError 404 when requesting https://sheets.googleapis.com/v4/spreadsheets/10kzvn3N_r0JCOg5YOiq3/values/Sheet1%21A1%3AZ:clear?alt=json returned "Requested entity was not found.". Details: "Requested entity was not found.">